body {
    margin: 10px;
    background-color: olivedrab;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}


h1 {
    background-color: lightgoldenrodyellow;
    opacity: 0.8;
    margin: 5px;
    padding: 10px;
    width: 610px;
    color: darkgreen;
    text-align: center;
    border: 1px solid darkgoldenrod;

}

h2 {
    background-color: lightgoldenrodyellow;
    opacity: 0.8;
    color: darkgreen;
    font-variant: titling-caps;
    margin: 10px 3px 5px 5px;
    padding: 10px;
    text-align: center;
    width: 610px;
    border: 1px solid darkgoldenrod;
}


form {
    background-color: lightgoldenrodyellow;
    opacity: 0.8;
    margin: 5px;
    padding: 10px;
    width: 610px;
    border: 1px solid darkgoldenrod;
}

fieldset {
    border: 1px dotted goldenrod;
    margin-bottom: 7px;
}

legend {
    font-size: 20px;
    font-style: italic;
}

label {
    font-size: 20px;
    line-height: 1.5em;
}

option {
    font-size: 15px;
    line-height: 1.5em;
}

.container {
    background-color: lightgoldenrodyellow;
    opacity: 0.8;
    color: goldenrod;
    font-weight: lighter;
    text-align: center;
    margin: 10px 5px 5px 5px;
    padding: 10px;
    width: 610px;
    border: 1px solid darkgoldenrod;
}

a {
    color: black;
    text-decoration: none;
}

p {
    padding-bottom: 10px;
}

#buttonRow {
    text-align: center;
    padding: 10px;
}

.button {
    background-color: darkgoldenrod;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    padding: 5px;
    margin: 10px;
    border: 2px solid darkgoldenrod;
}

.item {
    background-color: lightgoldenrodyellow;
    opacity: 0.8;
    margin: 10px 5px 5px 5px;
    padding: 10px;
    width: 610px;
    border: 1px solid darkgoldenrod;
}

ol ol {
    list-style: none;
    padding: 0px;

}