/* Susan R. Miller
   VFW 1303 Project 3 */

*{font-family: Arial, Helvetica, sans-serif;}

body {
    margin: 10px;
    background-color: olivedrab;
    font-size: 20px;
}

h1 {
    background-color: lightgoldenrodyellow;
    opacity: 0.8;
    margin: 5px;
    padding: 10px;
    width: 610px;
    color: darkgreen;
    text-align: center;
    border: 1px solid darkgoldenrod;

}

h2 {
    background-color: lightgoldenrodyellow;
    opacity: 0.8;
    color: darkgreen;
    font-variant: titling-caps;
    margin: 10px 3px 5px 5px;
    padding: 10px;
    text-align: center;
    width: 610px;
    border: 1px solid darkgoldenrod;
}

ol {
    padding: 0;
    margin: 20px;
}

ol ul {
    list-style: none;
    padding: 0;

}

fieldset {
    border: 1px dotted goldenrod;
    margin-bottom: 7px;
}

fieldset ul li {
    list-style: none;
}

legend {
    font-size: 20px;
    font-style: italic;
}

label {
    font-size: 20px;
    line-height: 1.5em;
}

option {
    font-size: 15px;
    line-height: 1.5em;
}

a {
    color: black;
    text-decoration: none;
}

a.small {
    font-size: 15px;
    text-decoration: underline;
    margin: 5px;
    padding: 2px;
}

p {
    padding-bottom: 10px;
}

#choreform {
    background-color: lightgoldenrodyellow;
    opacity: 0.8;
    margin: 5px;
    padding: 10px;
    width: 610px;
    border: 1px solid darkgoldenrod;
}

#buttonRowTop {
    background-color: lightgoldenrodyellow;
    opacity: 0.8;
    margin: 5px;
    padding-top: 10px;
    padding-bottom: 15px;
    width: 630px;
    border: 1px solid darkgoldenrod;
    text-align: center;
}

#buttonRowBottom {
    background-color: lightgoldenrodyellow;
    opacity: 0.8;
    margin: 5px;
    padding-top: 10px;
    padding-bottom: 15px;
    width: 630px;
    border: 1px solid darkgoldenrod;
    text-align: center;
}

#data {
    margin: 0;
    padding: 0;
}

#errors {
    font-style: italic;
    color: red;
    list-style: none;
}

.container {
    background-color: lightgoldenrodyellow;
    opacity: 0.8;
    color: goldenrod;
    font-weight: lighter;
    text-align: center;
    margin: 10px 5px 5px 5px;
    padding: 10px;
    width: 610px;
    border: 1px solid darkgoldenrod;
}

.button {
    background-color: darkgoldenrod;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    padding: 5px;
    margin: 10px;
    border: 2px solid darkgoldenrod;
}

.item {
    background-color: lightgoldenrodyellow;
    opacity: 0.8;
    margin: 10px 5px 5px 5px;
    padding: 10px;
    width: 610px;
    border: 1px solid darkgoldenrod;
}

