body {
    margin: 10px;
    background-color: olivedrab;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

/* emulating iPhone 4S screen size */
#content{
    width: 640px;
    height: 960px;
    overflow: scroll;
}

h1 {
    background-color: lightgoldenrodyellow;
    opacity: 0.8;
    margin: 5px;
    padding: 10px;
    width: 610px;
    color: darkgreen;
    text-align: center;
    border: 1px solid darkgoldenrod;

}

h2 {
    background-color: lightgoldenrodyellow;
    opacity: 0.8;
    color: darkgreen;
    font-variant: titling-caps;
    margin: 20px 3px 5px 5px;
    padding: 10px;
    text-align: center;
    width: 610px;
    border: 1px solid darkgoldenrod;
}


form {
    background-color: lightgoldenrodyellow;
    opacity: 0.8;
    margin: 5px;
    padding: 10px;
    width: 610px;
    border: 1px solid darkgoldenrod;
}

fieldset {
    border: 1px dotted goldenrod;
    margin-bottom: 7px;
}

legend {
    font-size: 20px;
    font-style: italic;
}

label {
    font-size: 20px;
    line-height: 1.5em;
}

option {
    font-size: 20px;
    line-height: 1.5em;
}

#container {
    background-color: lightgoldenrodyellow;
    opacity: 0.8;
    color: goldenrod;
    font-weight: lighter;
    text-align: center;
    margin: 20px 5px 5px 5px;
    padding: 10px;
    width: 610px;
    border: 1px solid darkgoldenrod;
}

a {
    text-decoration: none;
}

p{
    padding-bottom: 10px;
}

button{
    font-size: 15px;
    font-weight: bold;
    padding: 5px;
    margin: 10px;
    border: 2px solid darkgoldenrod;
}